

.main-page::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;

    background: url('/assets/logo.png') center/cover no-repeat;
    background-repeat: cover;
    opacity: 0.2;

    z-index: -1;
    animation: scale-up-center-normal 20s cubic-bezier(0.190, 1.000, 0.220, 1.000) 0s 1 normal ;
}

@keyframes scale-up-center-normal {
    from {
        transform: scale(1.5);
    }

    to {
        transform: scale(0.8);
    }
}

/* .main-page {
    position: relative;
}

.main-page::before {
    content: "";
    position: fixed;
    inset: 0;
    background-color: rgb(252, 241, 228);
    z-index: -1;
} */