#collections-section {
  scroll-margin-top: 80px;
}

body {
     background-color: #f8f9fa;
 }

 .collection {
     display: flex;
     flex-direction: column;
     align-items: center;
     margin: 15px;
 }

 .title {
     color: rgb(70, 70, 68);
     font-family: 'Times New Roman', Times, serif;
     font-size: 42px;
     letter-spacing: 2px;
     font-weight: 400;

 }

 .caption {
     color: black;
     font-weight: 400;
     font-size: 22px;
     font-family: 'Times New Roman', Times, serif;
 }




 