 @import url('https://fonts.googleapis.com/css2?family=Lavishly+Yours&family=Playwrite+GB+J+Guides:ital@0;1&display=swap');

 /* body {
     margin: 0;
 } */

 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #242424;
    color: #fff;
    font-family: Arial, sans-serif;
    perspective: 1000px;
}


 
 .home-section {
     height: 100%;
     width: 80%;
     display: flex;
     align-items: center;
     gap: 60px;
     box-sizing: content-box;
     padding: 60px 5%;
     /* border-bottom: 1px solid rgb(216, 112, 112); */
     margin: 0;
 }


 .content {
     height: 100%;
     flex: 1;
     width: 350px;
     animation: headingZoom 1s ease-in-out forwards;
 }

 @keyframes headingZoom {
     from {
         transform: scale(1.1);
     }

     to {
         transform: scale(1);
     }
 }

 .home-heading {
     display: flex;
     flex-direction: column;
     align-items: center;
     font-size: 4rem;
     font-weight: 300;
     color: #070300;
     line-height: 1.2;
     margin-bottom: 25px;
     font-family: "lavishly yours", cursive;
     animation: headingZoom 1s ease-in-out forwards;
 }

 .heading {
     display: flex;
     margin-right: 50px;
 }



 @keyframes headingZoom {
     from {
         transform: scale(1.1);
     }

     to {
         transform: scale(1);
     }
 }

 .home-description {
     font-size: 2rem;
     line-height: 1.9;
     color: #000000;
     margin-bottom: 35px;
     text-align: justify;
     font-family: "lavishly yours", cursive;
 }

 .explore-btn {
     padding: 14px 35px;
     border: none;
     border-radius: 30px;
     background: #c9a86a;
     color: white;
     font-size: 1rem;
     cursor: pointer;
     transition: all 0.3s ease;
 }

 .explore-btn:hover {
     transform: translateY(-3px);
     box-shadow: 0 10px 20px rgba(201, 168, 106, 0.3);
 }

 .image-container {
    height: fit-content;
    width: 450px;
    width: 100%;
    flex: 1;
    display: flex;
    justify-content: space-between;
    margin: 10%;
}

.image-container img {
    height: fit-content;
    width: fit-content;
    border-radius: 500px;
    box-shadow: 0 50px 50px rgba(252, 217, 19, 0.15);
    object-fit: cover;
    animation: slowZoom 1s ease-in-out backwards;
    position: relative;
    
}

.image-container img::before{
    box-shadow: ;
} 