body {
    margin: 0;
    font-family: Arial, sans-serif;
    position: relative;
    min-height: 100vh;
    background-color: #f8f5ee;
}

body::before {
    content: "";
    position: fixed;
    inset: 0;

    background-image: url('/assets/brand.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;

    opacity: 0.12;
    z-index: -1;
}